<table>
    <tr>
        <th>Id</th>
        <th>Producto</th>
        <th>Stock</th>
        <th>Precio unitario</th>
    </tr>
    @for(item of productos; track item.id_producto){
        <tr>
            <td>{{item.id_producto}}</td>
            <td>{{item.nombre_producto}}</td>
            <td>{{item.stock}}</td>
            <td>{{item.precio_unitario}}</td>
            <td><button type="button" (click)="modificarProducto(item.id_producto)">Modificar</button></td>
            <td><button type="button" (click)="eliminarProducto(item.id_producto)">Eliminar</button></td>
        </tr>
    }
</table>

<div>
    <form [formGroup]="form" (ngSubmit)="useForm()" id="formulario_producto">
        <input name="id" type="number" placeholder="Id producto" required formControlName="id_producto" hidden>
        <input name="nombre" type="text" placeholder="Nombre de producto" required formControlName="nombreProducto">
        <input name="stock" type="number" placeholder="Stock de producto" required formControlName="stock">
        <input name="precio" type="number" placeholder="Precio unitario" required formControlName="precio">
        
        <button type="submit" [disabled]="!form">Aceptar</button>
     </form>   
 </div>